<h1> Welcome to Favlinx Instant Messenger </h1>
<hr/>

<h1>{{groupname}}</h1>

<div id = "messages">
    <h2>Messages</h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <input id="handle" type="text" value="{{handle}}" readonly="readonly"/>
    <input id="message" type="text" placeholder="Message" />
    <button id="send">Send</button>
</div>

<script src="/js/chat.js"></script>

<script>
    let room = ['{{groupname}}', 'chats'];
	let user = '{{handle}}';
</script>